.botao {
    font-size: 16px;
    font-weight: 700;
    width: 120px;
    color: #ffffff;
    background-color: #6278F7;
    border: none;
    border-radius: 4px;
    padding: 12px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.219);
    cursor: pointer;
}

.botao:hover {
    color: #95ccff;
}